<footer class="footer">
  <div class="container">
    <div class="small text-center">
      <p>
        &copy;
        <%= Time.now.year %>
      </p>
    </div>
    <div class="clear-fix"></div>
  </div>
</footer>
